<div id="subscribe" class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="subscription">
                    <div class="subscription-intro">
                        <h4> LET'S STAY IN TOUCH</h4>
                        <p>Get updates on sales specials and more</p>
                    </div>
                    <div class="subscription-form">
                        <form name="subscription_form" action="index.html" method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" name="email"
                                    placeholder="Enter Email Address" />
                                <button type="submit" class="btn btn-dark"><i class="fa fa-angle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social">
                    <div class="social-intro">
                        <h4>FOLLOW US</h4>
                        <p>We want to hear from you!</p>
                    </div>
                    <div class="social-list">
                        <a href="index.html#"><i class="fab fa-facebook"></i></a>
                        <a href="index.html#"><i class="fab fa-twitter"></i></a>
                        <a href="index.html#"><i class="fab fa-instagram"></i></a>
                        <a href="index.html#"><i class="fab fa-dribbble"></i></a>
                        <a href="index.html#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>