<div id="tablet-list" class="section-container pt-0">
    <div class="container">

        <h4 class="section-title clearfix">
            <span class="flex-1">
                Tablet
                <small>Shop and get your favourite tablet at amazing prices!</small>
            </span>
            <a href="index.html#" class="btn">SHOW ALL</a>
        </h4>

        <div class="category-container">

            <div class="category-sidebar">
                <ul class="category-list">
                    <li class="list-header">Top Categories</li>
                    <li><a href="index.html#">Apple</a></li>
                    <li><a href="index.html#">HP</a></li>
                    <li><a href="index.html#">Huawei</a></li>
                    <li><a href="index.html#">Samsung</a></li>
                    <li><a href="index.html#">Sony</a></li>
                    <li><a href="index.html#">All Brands</a></li>
                </ul>
            </div>

            <div class="category-detail">
                <a href="index.html#" class="category-item full">
                    <div class="item">
                        <div class="item-cover">
                            <img src="../assets/img/product/product-huawei-mediapad.jpg" alt />
                        </div>
                        <div class="item-info bottom">
                            <h4 class="item-title">Huawei MediaPad T1 7.0</h4>
                            <p class="item-desc">Vibrant colors. Beautifully displayed</p>
                            <div class="item-price">$299.00</div>
                        </div>
                    </div>
                </a>

                <div class="category-item list">
                    <div class="item-row">
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-ipad-pro.png" alt />
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product_detail.html">9.7-inch iPad Pro<br />32GB</a>
                                </h4>
                                <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
                                <div class="item-price">$649.00</div>
                                <div class="item-discount-price">$739.00</div>
                            </div>
                        </div>


                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-galaxy-tab2.png" alt />
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Samsung Galaxy Tab S2<br />Black</a>
                                </h4>
                                <p class="item-desc">A Brilliant Screen That Adjusts to You</p>
                                <div class="item-price">$399.99</div>
                                <div class="item-discount-price">$499.00</div>
                            </div>
                        </div>


                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-galaxy-taba.png" alt />
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Samsung Galaxy Tab A<br />9.7" 16Gb(Wi-Fi)</a>
                                </h4>
                                <p class="item-desc">Keep All Your Samsung Devices In Sync</p>
                                <div class="item-price">$349.99</div>
                                <div class="item-discount-price">$399.99</div>
                            </div>
                        </div>
                    </div>

                    <div class="item-row">
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-hp-spectrex2.png" alt />
                                <div class="discount">15% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product_detail.html">HP Spectre x2<br />12-a011nr</a>
                                </h4>
                                <p class="item-desc">Our thinnest detachable separates from all others.</p>
                                <div class="item-price">$799.99</div>
                                <div class="item-discount-price">$850.00</div>
                            </div>
                        </div>
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-xperia-z2.png" alt />
                                <div class="discount">32% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">Sony Xperia Z2 Tablet<br />Black Color</a>
                                </h4>
                                <p class="item-desc">For unexpectedly beautiful moments</p>
                                <div class="item-price">$199.00</div>
                                <div class="item-discount-price">$259.00</div>
                            </div>
                        </div>
                        <div class="item item-thumbnail">
                            <a href="product_detail.html" class="item-image">
                                <img src="../assets/img/product/product-ipad-air.png" alt />
                                <div class="discount">20% OFF</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="product.html">iPad Air 2<br />32/64Gb</a>
                                </h4>
                                <p class="item-desc">Light. Heavyweight.</p>
                                <div class="item-price">$399.00</div>
                                <div class="item-discount-price">$459.00</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>